{% extends 'base.html' %}

{% block title %} Funcionários {% endblock %}

{%block main%}
<script>
    $(document).ready(function(){
      var cargos = document.getElementById("data").getAttribute("var_cargos");
      $("#btnNovo").click(function(){
          if(cargos > 0){
            alert("Produto passado: " + cargos + ".... já pode chamar a tela de incluir funcionário.");
          }else{
            $("#modalMensagem").modal();

          }
        
      });
    });
    </script>
Dentro da página de listar funcionários.<br>
funcionários cadastrados:-> {{funcionarios|length}} <br>
Cargos cadastrados: -> {{cargos}}
<br><br>
<div id="data" var_cargos="{{cargos}}" >

</div>
<table class="table" >
    <thead class="thead-light" >
        <tr>
            <th scope="col" >Código</th>
            <th scope="col">Nome do funcionário</th>
            <th scope="col">cargo</th>
        </tr>

    </thead>
        {% if funcionarios %}
            {% for func in funcionarios %}
                <tbody>
                <tr scope="row" style="width: 20px;" >{{func.id}}</tr>
                <tr scope="row">{{func.nome}}</tr>
                <tr scope="row">{{func.cargo.nome_cargo}}</tr>
            </tbody>
            {% endfor %}
        {%else%}
            <tbody>
            <tr>
                <th scope="row" >
                    <td>{{v_erro}}</td>
                </th>
            </tr>
        </tbody>
        {% endif %}
</table>


<br><br>
<button type="button" class="btn btn-default btn-lg" id="btnNovo">Login</button>
<a 

>Incluir</a>                  <a href="{% url 'index' %}" >Home</a>

<div class="modal fade" id="modalMensagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Não existem cargos cadastrados. Primeiro você deve cadastrar um cargo para poder cadastrar um funcionário.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'incluirFuncionario' %}" class="btn btn-primary btn-sml active" 
           role="button" aria-pressed="true">Incluir Funcionários</a>   
        </div>
      </div>
    </div>
  </div>


    {% endblock %}

