<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
</head>
<body>
    Dentro da página de listar funcionários.
    <br><br>
    {% if funcionarios %}
        {% for funcionario in funcionarios %}
        <ul>
            <li>
                {{funcionario.nome}} {{funcionario.cargo.nome_cargo}}
            </li>
        </ul>
            
        {% endfor %}
    {%else%}
        <ul>
            <li>
            {{v_erro}}
            </li>
        </ul>
    {% endif %}
<br><br>
<a href="{% url 'incluirFuncionario' %}" >Incluir</a>                     <a href="{% url 'index' %}" >Home</a>
</body>
</html>