{% extends 'base.html' %}

{% block title %} Início {% endblock %}

{%block main%}
    Dentro do INDEX do sistema....<br><br>
    <!-- <a href="{% url 'listarCargos' %}" >Cargos</a><br> -->
    <a href="{% url 'listarCargos' %}" class="btn btn-primary btn-sml active" style="margin: 5px;" role="button" aria-pressed="true">Cargos</a><br>
    <!-- <a href="{% url 'listarFuncionarios' %}" >Funcionários</a><br> -->
    <a href="{% url 'listarFuncionarios' %}" class="btn btn-primary btn-sml active" style="margin: 5px;" role="button" aria-pressed="true">Funcionários</a><br>
{% endblock %}